.card {
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  background-color: #a3a0ca;
  border-radius: 2em;
  padding: 2em;
}

.card__text {
  font-size: 16px;
}

.card__link {
  color: #a3a0ca;
  background-color: white;
  display: flex;
  place-items: center;
  justify-content: space-around;
  padding: 0.5em 1.2em;
  border-radius: 0.5em;
  gap: 0.5em;
}

a {
  text-decoration: none;
}
