@import url("https://fonts.googleapis.com/css2?family=Signika:wght@400;700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --font-family: "Signika", sans-serif;
  --color-primary: #91c788;
  --color-secondary: #fa8574;
  --color-primary-text: #262626;
  --color-secondary-text: #8c8c8c;
  --color-button-text: #fff;
}

html {
  font-size: 16px;
}

body {
  font-family: "Signika", sans-serif;
  margin: 0;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: "Signika", sans-serif;
}
